<div class="article-set-block js-article-block">
    <div class="article-set-block__image"></div>
    <h2 class="article-set-block__title">Each Zodiac Sign's Most Profound Achievements</h2>
    <div class="article-set-block__desc">Each sign in the Zodiac comes with its own set of strengths. When this power is properly cultivated, every placement is capable of achieving greatness. What is yours? Let's find out! The 12 signs of astrology all have specific characteristics that empower them to strive towards excellence in their own way. Every astrological sign leaves its distinct mark on the world and stands independently from the others. Tenacity, talent, and perseverance express themselves differently under each sign, and their accomplishments reflect these unique manifestations. Let’s explore the notable achievements for each Zodiac sign to see how they reflect the nature of the placements themselves!</div>
    {% set article = [
        {
            sign: 'Aries - FEHU (wealth, cattle) and URUZ (bizon)',
            paragraph1: 'Fiery and passionate Aries natives stand firmly in their power. They are trailblazers of their fields and fiercely embrace their self-confidence.',
            paragraph2: 'Traditionally, Aries natives are credited as being pioneers in the entertainment arts. For example, Lady Gaga is an icon in the pop world, having established a strong and distinct presence in the industry. Much of what she has created has been considered revolutionary. And in true Aries fashion, she is also praised for her unapologetic self-assurance.'
        },
        {
            sign: 'Taurus - THURISAZ (giant) and ANSUZ (god)',
            paragraph1: 'The grounded and earthy Taurus sign is known for its easy-going vibes and keen outlook on life. They are prized for their uncanny ability to make light of situations.',
            paragraph2: 'Those in the sign of Taurus have changed the world with their perspectives. William Shakespeare is a prominent Taurus figurehead whose work embodies the realness of life but contrasts it with an unmistakable sense of humor. Like a true Taurus, he pioneered the comedy and tragedy tropes and altered the field of creative writing forever.'
        },
        {
            sign: 'Gemini - RAIDHO (road) and KAUNA (ulcer)',
            paragraph1: 'Highly curious and creative, the premiere strength of the Gemini is their gift of gab. This talkative sign is able to effectively communicate ideas and thoughts in unique ways.',
            paragraph2: 'From musical artists to prominent world leaders, Gemini natives have scaled the ranks of the respective fields by using their gift of expression. Kanye West, Queen Victoria, and Johnny Depp all embody this trait. They have made names for themselves for the distinct ways they share their revolutionary thoughts and feelings.'
        },
        {
            sign: 'Cancer - GEBO (gift) and WUNJO (joy)',
            paragraph1: 'Cancers are natural homebodies and enjoy strong familial connections. Their strengths lie in their emotional depth and sensitivity towards others.',
            paragraph2: 'Natives of this sign are true humanitarians and seek ways to give back to the world—their achievements center on selflessness and understanding. Robin Williams is a distinguished Cancer who devoted his fame to bringing awareness to mental illness. When Cancers lean into their giving natures, there is no telling what they can do.'
        },
        {
            sign: 'Leo - HAGALAZ (hail) and NAUTHIZ (need)',
            paragraph1: 'The poised and regal Leo is known for its bold presence and unwavering loyalty. They are natural leaders and shine in the limelight.',
            paragraph2: 'The most notable accomplishments of this sign all center around their innate leadership capabilities. World leaders like Napoleon Bonaparte, Fidel Castro, and Barack Obama all hail from this placement. Though their styles are vastly different, they are all considered revolutionary rulers in some way. Leos’ contributions to the world happen when they are in charge.'
        },
        {
            sign: 'Virgo - ISAZ (ice) and JERA (plenty)',
            paragraph1: 'Virgos are known for their systematic and practical approaches to success and fulfillment. They are methodical in their ways and meet their victories analytically.',
            paragraph2: "These signs have made great advancements in work with the sciences. Prominent figures include Michael Faraday and Earnest Rutherford, noted for their work on electromagnetism and nuclear power, respectively. The highly logical minds of the Virgo sign have paved the way for many scientific advancements we rely on today."
        },
        {
            sign: 'Libra - PERTHRO (unknown) and EHWAZ (horse)',
            paragraph1: 'The charismatic sign of Libra values justice and balance above all else. They hit their stride when they are seeking harmony and advocating for peace.',
            paragraph2: 'As pillars for justice, all major contributions of Libras focus on promoting unity. Mahatma Gandhi is a prime example of a native who champions a life of love and serenity. Gandhi’s nonviolent stance embodies the nature of this sign and carries major significance today. When Libras lean into their peace-seeking tendencies, they serve as guides for the rest of us in impactful ways.'
        },
        {
            sign: 'Scorpio - ALGIZ (moose) and SOWILO (Sun)',
            paragraph1: 'Determined, imaginative, enigmatic, and emotional, the strength of the Scorpio lies in their unique perspectives. They are individualistic and have a distinct edge that sets them apart from the rest.',
            paragraph2: 'Scorpios have made significant breakthroughs in the arts. Natives include Pablo Picasso, Georgia O’Keeffe, and Bob Ross. In true Scorpio fashion, all three have deeply different artistic styles. They are each praised for their rare talents and viewpoints and widely recognized as artistic revolutionaries.'
        },
        {
            sign: 'Capricorn - EHWAZ (horse) and MANNAZ (human)',
            paragraph1: 'Capricorns are goal-oriented, ambitious, and organized. Their grounded personalities and a strong sense of realism make them capable of reaching the highest tiers of their fields.',
            paragraph2: 'They are adept at politics and known for their scientific proclivities. Capricorns shine when they can make use of their natural practicality. For example, powerful figures like Joan of Arc and Greta Thunberg are known for their unwavering activism. In comparison, renowned scientists Isaac Newton and Stephen Hawking made great use of the Capricorn mind.'
        },
        {
            sign: 'Sagittarius - BERKAN (birch) and TIWAZ (god)',
            paragraph1: 'The sign of Sagittarius is recognized for its free-spirited and optimistic nature. Natives here possess a wild side and value their personal freedoms.',
            paragraph2: 'The accomplishments of this sign center around their bold and unique forms of expression. Musicians Taylor Swift, Britney Spears, and Miley Cyrus all belong to the Sagittarius placement. All three are entirely original and have found success embracing the Sagittarian chaos. They are each prized as pioneers in their respective genres and are celebrated for their styles.'
        },
        {
            sign: 'Aquarius - LAGUZ (water, lake) and INGUZ (fertility)',
            paragraph1: 'The true individual of the Zodiac, Aquarians are honored for their originality and independence. These signs will shine when given the space to be exactly who they want to be.',
            paragraph2: "This sign doesn’t shy away from judgment; rather, they embrace their uniqueness as their power. Natives are celebrated in the areas of art, politics, and science. Famous Aquarians include Galileo Galilei, Oprah, Charles Darwin, and Harry Styles. All four are renowned for the free-thinking that led them to their contributions and fame."
        },
        {
            sign: 'Pisces - OTHALA (estate) and DAGAZ (absent)',
            paragraph1: 'Pisceans are the dreamers and escape artists of the astrological signs. They are highly imaginative and intuitive and find their power when they embrace this side of themselves.',
            paragraph2: 'Natives have made profound contributions to the world of art. Michaelangelo, the famous painter and sculptor, embodies true Piscean talent with a dream-like edge. He revolutionized the artist medium, and his name transcends time. When those with this placement adopt the full capacity of the Pisces imagination, there is no limit to what they can create.'
        }
    ] %}
    <div class="article-set-block__content">
        {% for line in article %}
            <div class="js-article-paragraph" data-id="{{ loop.index }}">
                <h3 class="article-set-block__desc">{{ line.sign }}</h3>
                <p>{{ line.paragraph1 }}</p>
                <p>{{ line.paragraph2 }}</p>
            </div>
        {% endfor %}
    </div>
</div>

{% if app.getEnvironment == 'dev' %}
    <script defer src="{{ asset('landings/fingerprint_rune/js/src/article-view.js') }}"></script>
{% else %}
    <script defer src="{{ asset('landings/fingerprint_rune/js/build/article-view.min.js') }}"></script>
{% endif %}